.header{
  display: flex;
  color:black;
  background: rgba(15, 15, 85, 0.904);
  margin: -10px;
  padding: 0px;
}
.header img{
  height: 50px;
  margin-top: 12px;
  margin-left: 12px;
  margin-right: 10px;
}

.click{
  background-color: blue;
  color: white;
  width: 94px;
  height: 36px;
  margin-top: 50px;
  margin-left: 28px;
  font-size: 17px;
  border-radius: 20px;
  border: none;
  text-align: left;
  
}
.text{
  background-color: white;
  color: black;
  margin-right: 5px;
}


.bubber{
  margin-top: 50px;
  display: flex;
}
.card {
  /* Add shadows to create the "card" effect */
  width: 310px; 
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.100s;
  margin: 6px;
  border-radius: 30px;
  
}

.card img{
  width: 280px;
  padding: 10px;
  border-radius: 20px;
}


/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 8px 8px 8px 0 rgba(64, 113, 185, 0.61);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
  color: blue;
}
